<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Privet</title>
        <link rel="stylesheet" href="../resources/main.css">
    </head>
    <body>
        <label for="Username">Username:</label>
        <input type="text" id="Username" name="Username" placeholder="Username...">
        <br>
        <label for="Password">Password:</label>
        <input type="text" id="Password" name="Password" placeholder="Password...">
        <br>
        <button>Try to login</button>
        <h1>Users</h1>
        {{range .}}
        <p>{{.Username}}</p>
        {{end}}
    </body>
</html>