<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SignUp</title>
        <link rel="stylesheet" href="../resources/main.css">
    </head>
    <body>
        <a href="/"><button>Hазад</button></a>
        <form name="signup_user" action="/signup_user" method="post">
        <label for="Login">Login:</label>
        <input type="text" id="Login" name="Login" placeholder="Login...">
        <br>
        <label for="Username">Username:</label>
        <input type="text" id="Username" name="Username" placeholder="Username...">
        <br>
        <label for="Password">Password:</label>
        <input type="text" id="Password" name="Password" placeholder="Password...">
        <br>
        <button input type="submit" name="submit" value="Send">Register</button>
        </form>
        <label for="Result">{{.}}</label>
    </body>
</html>